/* styles.css */
body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

#carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #f8f9fa;

    max-height: 400px;
    margin-bottom: 20px;
    padding: 10px;
}

.car img {
    max-width: 100%;
    height: auto;
}

.subcontainer {
    display: flex;
    /* justify-content: space-between;
    margin-top: 20px; */
}

.subcontainer > label {
    margin-right: 10px;
}